.container{
    
    text-align: center;
    border-radius: 5px;
    
}
.col{
    background-color: #cda5f3;
    border: 1px solid black; 
    border-radius: 5px;
}

.box{
    height: 40px;
    background-color: #cda5f3;
}